#carousel {
  margin: 0 12rem;
  padding: 3.2rem 6.4rem 4rem 6.4rem;
  border-radius: 1.4rem;
  border: 0.1rem solid rgba(203, 213, 225, 1);
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.6rem;
  overflow: hidden; // To hide overflow and create a smooth visual effect

  p {
    font-family: Inter;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.048rem;
    letter-spacing: 0.24rem;
    text-align: center;
    color: rgba(148, 163, 184, 1);
  }

  .carousel-track {
    display: flex;
    gap: 7rem; // Maintain gap between logos
    animation: scroll 15s linear infinite; // Continuous scrolling animation
  }

  // Each logo image will blur near the edges
  .carousel-track img {
    height: 4rem;
    width: auto;
    transition: filter 0.5s ease-in-out; // Smooth blur transition
  }

  // Adding a fade effect on the left and right edges
  position: relative;
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 12rem; // Width of the blurred area on both sides
    pointer-events: none; // Prevent interaction with these elements
  }

  // Fade-in blur effect on the left side
  &::before {
    left: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 1), transparent);
    z-index: 1; // Ensure it overlays the logos
  }

  // Fade-out blur effect on the right side
  &::after {
    right: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 1), transparent);
    z-index: 1; // Ensure it overlays the logos
  }
}

// Keyframes to smoothly scroll logos from right to left
@keyframes scroll {
  0% {
    transform: translateX(0); // Initial position
  }
  100% {
    transform: translateX(-100%); // Move the entire track to the left
  }
}

@media (max-width: 360px) {
  #carousel {
    margin-bottom: 4.8rem;
    padding: 0;
    border: none;
    background-color: transparent;
    align-items: stretch;
    gap: 1.6rem;

    p {
      font-size: 1.2rem;
      line-height: 1.536rem;
    }

    .carousel-track {
      gap: 4rem;
    }
  }
}
